<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-opacity-75">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/home">
      <img src="/img/logo.png" alt="Logo" width="40" height="40" class="me-2">
      <span>Bike and Hike</span>
    </a>
    <button class="menu-toggle btn btn-outline-light d-lg-none" type="button">
      ☰
    </button>
  </div>
</nav>
